
.allbox {
    display: flex;
    height: 50px;
    width: 240px;
}

.countbox {
    display: inline-flex;
    width: 140px;
    height: 25px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c50;
    border-radius: 5px;
    justify-content: space-between;
}

.countNumber {
    display: inline-block;
    color: #c50;
}

button {
    width: 25px;
    height: 25px;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

button:active {
    color: #c30;
}

.addCart {
    display: inline-block; 
    width: 37px;
    height: 37px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    margin-left: 0;
    border-radius: 5px;
    background-color: #c30;
    color: #fff;
}
.addCart:active {
    color:#fff;
    background-color: #c70;
}
.addCart:hover {
    cursor: pointer;
}