.containbox {
    margin: auto;
    margin-left: 15px;
    width: 100%;
    height: 100%;
}
.titlebox {
    font-size: 40px;
}
.imgbox{
    display: inline-block;
    width: 400px;
    height: 400px;
}
p {
    display: inline-block;
}
.detailbox {
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;

}
.descriptionbox {
    display: inline-block;
    width: 700px;
    font-size: 20px;
    padding: auto;
    margin-left: 25px;
}
.pricebox{
    display: flex;
    font-size: 40px;
    position: relative;
    margin-left: 150px;
}
.btnDiv{
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
    top: 0;
}
.terminateBtn {
    position: relative;
    width: 180px;
    height: 50px;
    border: 1px solid #F77202;
    border-radius: 5px;
    background-color: #F77202;
    color: #fff;
}
.terminateBtn:active{
    background-color: #c30;
    color: #fff;
}
.terminateBtn:hover{
    cursor: pointer;
}