form {
    width: 400px;
    height: 500px;
}
.tituloModalUser{
    margin-left: 80px;
}
input {
    display: block;
    width: 200px;
    height: 30px;
    margin: auto;
    margin-bottom: 25px;
    margin-left: 125px;
}
.errorMsg {
    color: rgb(221, 12, 12);
    display: flex;
    position: absolute;
    width: 350px;
    height: 30px;
    margin-left: 125px;
    margin-top: -25px;
    padding-bottom: 15px;
}